.date-widget-container {
}

.date-widget-values-container {
}

.date-fieldset {
  display: inline-block;
}

.flatpickr-container {
  display: inline-block;
  vertical-align: text-bottom;
  padding-bottom: 8px;
}

.hidden-flatpickr-input-box {
  width: 0px;
  padding: 0 0;
  border: none;
  display: inline;
  font-size: 0em;
  height: 0px;
}

.flatpickr-input-button {
  cursor: pointer;
}

.emoji {
  font-size: 2em;
}
