.date-widget-container {
  display: inline-block;
}

.flatpickr-input-button {
  cursor: pointer;
  padding-left: 5px;
}

.flatpickr-input-box {
  font-size: 1em;
  width: 120px;
  text-align: center;
  display: inline;
}

.hidden-input-box {
  width: 0;
  border: 0;
  padding: 0;
  height: 25px;
  box-sizing: border-box;
  visibility: hidden;
}

.emoji {
  font-size: 1.25em;
}
